doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/bit-brkr-cloud.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/crsbrkrs-atom.png')
  body
    div.main
      block content
    
    div.footer
      a.docLnk(href=`/docs`) Docs
      a.home(href=`/`) Home
