* {
  background-color: #111;
  color: aquamarine;
  font-family: 'dmsans';
  font-size: 16px;
}
@font-face {
  font-family: 'dmsans';
  src: url(../font/dmsans.ttf);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
  margin: 0;
  padding: 12px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
font-size: 18px;
}

a {
  color: #00B7FF;
}

.authTray {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.authHeader {
  text-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.auth_form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px ridge aquamarine;
  border-radius: 1px;
}

.auth_form > label {
  padding: 8px;
  font-weight: 600
}

.auth_form > input {
  margin: 12px;
  padding: 4px;
  background-color: azure;
  color: #111;
}

.auth_form > p {
  text-align: center;
  margin: 12px;
  padding: 8px;
  font-size: 14px;
}

.auth_form > button {
  margin: 12px;
  padding: 8px;
}

.auth_form > button:hover {
  margin: 8px;
  padding: 12px;
  background-color: aquamarine;
  color: #111;
  font-weight: 600;
  border: 2px ridge #111;
  box-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.signUp {
  text-decoration: none;
  padding: 24px;
  color: azure;
}

.signUp:hover {
  color: aquamarine;
  text-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.cancel {
  color: #f721a9;
  margin: 8px;
  padding: 8px;
  text-decoration: none;
}

.cancel:hover {
  text-shadow: 0 0 10px rgba(255, 1, 136, 0.697), 0 0 20px rgba(255, 22, 84, 0.5), 0 0 30px rgba(255, 22, 84, 0.3);
}

.error {
  color: #f721a9;
  text-shadow: 0 0 10px rgba(255, 1, 136, 0.697), 0 0 20px rgba(255, 22, 84, 0.5), 0 0 30px rgba(255, 22, 84, 0.3);
  max-width: 250px;
}

.statusBar {
  display: flex;
  flex-direction: column;
}

.dashHead {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
}

.avtrLnk {
  background-color: transparent;
  border: 1px solid #111;
  margin: 8px;
  padding: 14px;
  border-radius: 50%;
  transition: box-shadow 0.4s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.avtr {
  background-color: transparent;
  width: 38px;
  border-radius: inherit;
}

.avtrLnk:hover {
  box-shadow: 0 0 0 0 rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
  animation: pulse 1.2s infinite;
  border: 1px solid aqua;
}

.uname {
  background-color: transparent;
  font-size: 20px;
  padding: 12px;
  text-decoration: none;
  align-self: center;
  color: aquamarine;
}

.uname:hover {
  text-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.dashTray {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  align-items: center;
}

.userStatus {
  margin: 12px;
  padding: 12px;
}
 
.statUpdate {
  text-decoration: none;
  color: azure;
  padding: 12px;
  border-radius: 3px;
  margin: 12px;
  
}

.statUpdate:hover {
  background-color: aquamarine;
  color: #000;
  border: 2px ridge #111;
  padding: 12px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.statusLoc {
  border-top: 1px ridge aqua;
  padding: 24px;
}

.statusLoc > p {
  color: azure;
  font-size: 16px;
}

.newStatusTray {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.statForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid aquamarine;
  padding: 12px;
  width: 100%;
}

.statForm > input {
  padding: 8px;
  min-width: 260px;
}

.statForm > p {
  padding: 8px;
}

.statForm > button {
  margin: 12px;
  background-color: #111;
  color: azure;
  padding: 8px;
  width: 120px;
}

.statForm > button:hover {
  background-color: aquamarine;
  color: #000;
  border: 2px ridge #111;
  box-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
  border-radius: 2px;
}

.statForm > a {
  padding: 8px;
}

.results {
  padding: 50px;
}

.privacy {
  font-style: italic;  
  font-weight: 400;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.home {
  text-decoration: none;
  color: azure;
}

.home:hover {
  text-decoration: none;
  color: aquamarine;
  text-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.crsbrkrs {
  text-decoration: none;
  color: azure;
}

.crsbrkrs:hover {
  text-decoration: none;
  color: aquamarine;
  text-shadow: 0 0 5px rgba(127, 255, 212, 0.7), 0 0 15px rgba(127, 255, 212, 0.5), 0 0 30px rgba(127, 255, 212, 0.3);
}

.exit {
  color: #f721a9;
  margin: 8px;
  padding: 8px;
  text-decoration: none;
}

.exit:hover {
  text-shadow: 0 0 10px rgba(255, 1, 136, 0.697), 0 0 20px rgba(255, 22, 84, 0.5), 0 0 30px rgba(255, 22, 84, 0.3);
}

@media screen and (max-width: 719px) {

  .dashTray {
    flex-direction: column;
  }

  .dashHead {
    justify-content: space-around;
  }

}

::selection {
  background-color: aquamarine;
  color: #000;  
}

moz::selection {
  background-color: aquamarine;
  color: #000;
}